@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #F3F4F6;
    
}

.hero {
    background: linear-gradient(315deg, #883ab4, #fd1d1d 50%, #fcb045);
    height: 55vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 5%;
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    padding-inline: 5%;
}

.inline-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
}

.list {
    margin-inline: 1%;
}
.list > li > a {
    color: black;
    text-decoration: none;
}
.list > li > a:hover {
    color: #fcb045;
}

#opdrachten_html,
#opdrachten_css {
    margin-bottom: 15px;
}

.fab {
    color: #fcb045;
}