@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
:root {
    --dark-gray: #272b33;
    --electric-blue: #90F1EF;
    --mini-pink: #FFD6E0;
    --yellow-crayola: #FFEF9F;
    --mint-green: #C1FBA4;
    --light-green: #7BF1A8;
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-gray);
    color: white;
    
}

.hero {
    background: linear-gradient(315deg, var(--electric-blue), var(--light-green) 50%, var(--yellow-crayola));
    height: 55vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 5%;
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    padding-inline: 5%;
}

.inline-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
}

.list {
    margin-inline: 1%;
}
.list > li > a {
    color: white;
    text-decoration: none;
}
.list > li > a:hover {
    color: var(--electric-blue);
}

#opdrachten_html,
#opdrachten_css {
    margin-bottom: 15px;
}

.fab {
    color: var(--electric-blue);
}