/* FIXME: Fix margins bij de bottom section en footer. */
/* TODO: Maak de block classes en hun styling */

/* Global Styles */
body {
    width: 960px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../fotos/pagebackground.png');
    background-size: 956px;
    background-position: center;
}

/* Header Styles */

header {
    height: 200px;
    background-image: url('../fotos//bgsky3.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    color: darkblue;
    position: relative;
}

.title {
    font-size: 300%;
    z-index: 0;
    margin-bottom: 50px;
}

.subtitle {
    font-size: 240%;
    z-index: 0;
}

header > img {
    position: absolute;
    bottom: 60px;
    right: 90px;
    z-index: 1;
}

/* Aside Styles */
aside {
    width: 250px;
    background-color: #dddddd;
    border: 1px solid #999999;
    float: right;
}

aside > article > h3 {
    color: white;
    background: blue;
    font-size: 120%;
    text-align: center;
}

aside > article > p {
    color: #666666;
    font-size: 90%;
    padding-inline: 10px;
}


/* Main content styles */
.content {
    width: 700px;
    background: white;
    text-align: justify;
    margin: 0;
}

.introduction {
    display: flex;
    padding: 20px 30px 20px 20px;
}

.logo {
    margin-top: 20px;
    padding-right: 20px;
}

.gallery {
    display: inline-flex;
    flex-wrap: wrap;
    background-color: #999999;
    gap: 20px;
    padding: 20px;
}

.foto {
    width: 180px;
    height: 180px;
    border: 10px solid white;
}

.bottom {
    background-color: #666666;
    color: white;
    line-height: 2em;
}

/* Footer styles */
footer {
    background-color: black;
    color: white;
    text-align: center;
    height: 50px
}