@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
:root {
    --dark-gray: #272b33;
    --electric-blue: #90F1EF;
    --mini-pink: #FFD6E0;
    --yellow-crayola: #FFEF9F;
    --mint-green: #C1FBA4;
    --light-green: #7BF1A8;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--dark-gray);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.intro_hero {
    height: 25vh;
    background-color: var(--electric-blue);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 5%;
    margin-bottom: 50px;
}

.title {
    font-size: 3rem;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 600;
}

.container {
    margin: 50px 50px;
}

.opdracht_container {
    position: relative;
    border: solid 1px var(--electric-blue);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    margin-bottom: 50px;
}

.opdracht_content {
    padding: 25px;
}

.opdracht_content > div {
    margin-bottom: 20px;
}

.opdracht_title {
    position:absolute;
    top: -20px;
    left: -15px;
    background-color: var(--electric-blue);
    padding: 4px 8px;
    border-radius: 5px;
    color: black;
}

.vraag {
    font-weight: bold;
    color: var(--electric-blue);
    margin-top: 5px;
    margin-bottom: 10px;
}

.antwoord {
    font-weight: 100;
    padding-bottom: 20px;
}

.generic_code {
    background: #7BF1A8;
    color: #40a065;
    padding: 2px;
    border-radius: 5px;
    margin-inline: 3px;
    padding-inline: 5px;
    font-family: monospace;
}

.image_container {
    display: inline-flex;
    column-gap: 10px;
}

.opdracht_image {
    border-radius: 10px;
    width: 33%;
    height: auto;
}

.lab_link {
    color: var(--electric-blue);
    text-decoration: none;
}

.lab_link:visited,
.lab_link:hover {
    text-decoration: underline;
    color: #67c8c7;
}