code {
    background: #7BF1A8;
    color: #40a065;
    padding: 2px;
    border-radius: 5px;
    margin-inline: 3px;
    padding-inline: 5px;
    font-family: monospace;
}

.h1{
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    font-size: 1.8em;
}

.h2{
    font-family: 'Arial', sans-serif;
    font-size: 1.5em;
    text-transform: none;
}

.h3{
    font-family: 'Arial', sans-serif;
    font-size: 1.4em;
}

.p{
    font-family: "Times New Roman", Serif, sans-serif;
    font-size: 1.2em;
}

.groen{
    color: green;
}

.blauw{
    color: blue;
}

.rood{
    color: darkred;
}