body {
    font-size: 1.2em;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    max-width: 95%;
    margin: 0 auto;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #007e7e;
    font-size: 150%;
}

h2 {
    color: #007e7e;
    font-size: 130%;
}

p { color: #444444; }

.headerImage {
    height: 200px;
    width: auto;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    margin: 5px;
}

/* Main content styling */

.content {
    box-sizing: 70%;
}

#guarantee {
    margin: 30px;
    padding: 20px;
    color: #444444;
    background-color: #a7cece;
    border: 3px dotted white;
}

/* Weekly special styling */

.specials {
    border: #a7cece 3px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 10px;
    margin-left: 30px;

}

.specials > h1, 
.specials > h2 {
    text-align: center;
    color: #c56f94;
}

.specials a:hover {
    background-color: brown;
}


/* Footer styling */
footer {
    font-size: 50%;
    text-align: center;
}